# Typings files (resolved via typings)
/typings/index.d.ts
/typings/globals/
/typings/modules/

# Bower file
/output/bower.json
/output/LICENSE
/output/README.md

# Don't commit built files (*.js, *.d.ts)
/source/**/*.js
/source/**/*.d.ts

# Node deps
npm-debug.log
/node_modules/

# Ignore git conflict / diff files
*.orig
