# Definitively typed files (resolved via tsd)
/typings/main.d.ts
/typings/browser.d.ts
/typings/browser/
/typings/main/

# Bower file
/output/bower.json
/output/LICENSE
/output/README.md

# Node deps
npm-debug.log
/node_modules/
